Source: apimas
Section: contrib/python
Priority: optional
Maintainer: GRNET Development Team <team@dev.grnet.gr>
Build-Depends: debhelper (>= 9), python-dev, dh-python
XS-Python-Version: >= 2.7
Standards-Version: 3.9.6
#Homepage: https://github.com/grnet/apimas
#Vcs-Git: git://anonscm.debian.org/collab-maint/apimas.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/apimas.git;a=summary

Package: python-apimas
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-docular (>= 0.1), python-docular (<< 0.2)
Description: API Modeling and Serving
 apimas provides an intuitive way to build scalable REST APIs and serving your
 application. The goal of apimas is to provide a flexible way for building,
 modifying and extending your application without the cumbersome management due
 to the complexity and the size of it.

Package: python-apimas-django
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-django (>= 1.8), python-django (<< 1.12)
Description: API Modeling and Serving -- Django support
 apimas provides an intuitive way to build scalable REST APIs and serving your
 application. The goal of apimas is to provide a flexible way for building,
 modifying and extending your application without the cumbersome management due
 to the complexity and the size of it.
